.nav-icons {
  display: flex;
  list-style: none;
  align-items: center;
}
@media (max-width: 767px) {
  .nav-icons {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
.nav-icons > li {
  margin-right: 40px;
}
.nav-icons a {
  text-decoration: none;
  display: block;
  color: hsl(0, 0%, 41%);
}
.nav-icons > li:not(:first-child, :nth-child(2)):hover a {
  color: hsl(0, 0%, 8%);
}
.nav-icons > li .dropDown-icon {
  margin-left: 5px;
  font-size: 15px;
}
.nav-icons > li.contain-menu {
  position: relative;
}
.company-menu > li:not(:last-child) {
  margin-bottom: 10px;
}
