.company-menu {
  position: absolute;
  width: 70px;
  background-color: white;
  font-size: 15px;
  top: 50px;
  right: -20px;
  padding: 20px;
  list-style: none;
  margin: 0;
  box-shadow: 0px 0px 25px 10px #0000002e;
  border-radius: 10px;
  transition: 0.6s;
  opacity: 0;
  color: hsl(0, 0%, 41%);
}

@media (max-width: 767px) {
  .company-menu {
    position: relative;
    box-shadow: 0 0 0;
    top: 0;
    opacity: 1;
    display: none;
    left: 0;
  }
}
.active-menu {
  display: block;
  opacity: 1;
}
